window#dashboard .dashboard,
window#notifications .notifications,
window#notificationsPopup .notifications-popup,
window#weather .weather {
    @include floating_widget;

    .notifications {
        @include notifications;
        min-width: 450px;

        .header {
            padding-left: .3em;
            margin-bottom: $spacing;
        }

        .notification-list-box {
            @include widget;

            .wallpaper {
                border-radius: max($radii - $border_width, 0);
                background-position: bottom right;

                @if $drop_shadow {
                    box-shadow: inset 0 0 $spacing 0 $shadow;
                }
            }
        }

        .notification-list {
            padding: $spacing/2;

            .notification > box {
                @include floating_widget;
                border-radius: $radii;
                padding: $spacing;
                margin: $spacing/2;
            }
        }

        .placeholder {
            color: $wallpaper_fg;
            .icon { font-size: 7em }

            label {
                @if $drop_shadow {
                    text-shadow: $text_shadow;
                } @else {
                    @include text_border;
                }

            }
        }
    }

    .separator {
        background-color: transparentize($fg_color, 0.94);
        min-width: 2px;
        border-radius: $radii;
        margin: 0 $spacing;
    }

    .datemenu {
        @include datemenu;
    }
}

window#notificationsPopup .notifications-popup {
    min-height: 450px;
}

.weather-refresh {
    all: unset;
    border: none;
    margin: 0;
    padding: 0;
}

.weather-refresh:hover {
    color: gray;
}

.weather-refresh:active {
    color: black;
}

.weather-info {
    background-color: rgba(81, 164, 231, 0.76);
    border-radius: 16px;
    padding: 10px;
    margin: 0 5px;
    
    min-width: 4.8em;
    min-height: 10em;

    margin-bottom: 5px;
}

.weather-info .weather-icon{
    margin-top: 0.6em;
    font-size: 2em;
}

.weather-temperature {
    margin-bottom: 0.6em;
}

.weather-day {
    padding: 2px;
}

.weather-day:first-child {
    padding: 0;
}
