window#quicksettings .quicksettings {
    @include floating_widget;

    .header {
        > box:last-child {
            @include widget;
            padding: $spacing;
        }

        .avatar {
            @include widget;
            margin-right: $spacing;
            min-width: $spacing*7 + 38px;

            .image {
                border-radius: max($radii - $border_width, 0);
            }

            .shader {
                @include shader;
                border-radius: max($radii - $border_width, 0);
            }
        }

        .user {
            font-size: 1.2em;
            color: transparentize($fg_color, 0.2);
            margin: $spacing/2;
        }

        .battery-progress {
            progressbar {
                @include slider($width: $spacing*3.4);
                margin-top: $spacing;
            }

            label {
                margin-top: $spacing;
                color: $accent_fg;
                font-size: $spacing*2;
                font-weight: bold;
            }

            &.half label { color: $fg_color; }
        }

        .system {
            button, .uptime {
                @include button;
                padding: $spacing;
                margin-left: $spacing;
                font-weight: bold;
                &:first-child { margin-left: 0; }
            }
        }
    }

    .qsmediavolume .volume-box {
        .volume {
            .slider {
                @include slider;
                margin-right: $spacing;
            }
        }
    }

    .volume-box {
        border: none;
        @include widget;
        margin-top: $spacing;

        .volume {
            .slider {
                * { all:unset; }
                margin-right: $spacing;
            }

            button {
                @include button($flat: true);
                padding: $spacing/2;
                margin: $spacing/2;
            }
        }

        .menu {
            all: unset;
            border-top: 1px solid $widget_bg;
            padding: $spacing;

            .separator {
                min-height: 1px;
                margin: $spacing/2 0;
                background-color: $widget_bg;
            }

            button {
                @include button($flat: true);
                border-radius: $radii*.7;
                padding: $spacing/2;
                margin-top: $spacing / 2;
                &:first-child { margin-top: 0; }

                image {
                    margin-right: $spacing/2;
                }
            }
        }
    }

    .brightness {
        @include widget;
        margin-top: $spacing;
        padding-right: $spacing;

        .slider {
            @include slider;
            margin: 0 $spacing;
            margin-left: 0;
        }

        button {
            @include button($flat: true);
            padding: $spacing/2;
            margin: $spacing/2;
        }
    }

    .toggles-box {
        margin-top: $spacing;

        .small-toggles {
            @include widget;
            padding: $spacing/2;

            .toggle {
                @include button;
                margin: $spacing/2;
                padding: $spacing;
            }
        }

        .arrow-toggles {
            @include widget;
            padding: $spacing/2;
            margin-right: $spacing;

            .toggle.arrow {
                @include button;
                margin: $spacing/2;

                label {
                    margin-left: $spacing/2;
                    font-weight: bold;
                }

                button {
                    @include button($flat: true);
                    padding: $spacing;

                    &:first-child {
                        border-top-right-radius: 0;
                        border-bottom-right-radius: 0;
                    }

                    &:last-child {
                        border-top-left-radius: 0;
                        border-bottom-left-radius: 0;
                    }
                }

                &.active {
                    background-color: $accent;

                    label, image {
                        color: $accent_fg;
                    }
                }
            }
        }
    }

    .submenu {
        @include widget;
        margin-top: $spacing;

        .title {
            > *:first-child {
                margin: $spacing;
            }

            label {
                font-weight: bold;
                font-size: 1.2em;
            }
        }

        .content {
            border-top: 1px solid $widget_bg;
            padding: $spacing;
        }

        &.app-mixer .content {
            scale {
                @include slider;
            }

            > box {
                padding: $spacing;
            }

            label:last-child {
                min-width: 3em;
            }

            image {
                margin-right: $spacing;
            }
        }

        &.network .content, &.theme, .content {
            button {
                @include button($flat: true);
                border-radius: $radii*0.8;
                padding: $spacing/2;
                margin-top: $spacing / 2;
                &:first-child { margin-top: 0; }
            }

            image {
                margin-right: $spacing/2;
            }
        }

        &.bluetooth .content {
            > box {
                padding: $spacing/2;
            }

            switch {
                @include switch;
            }
        }
    }

    .media {
        .mediabox{
            @include widget;
            @include media;
            margin-top: $spacing;

            .cover-art-bg {
                border-radius: max($radii - $border_width, 0);
            }

            .shader {
                border-radius: max($radii - $border_width, 0);
            }
        }
    }

    .qstoggles {
        margin-top: $spacing;

        .toggle {
            @include button;
            margin: $spacing/2;

            .arrow {
                border-top: 0.6em solid transparent;
                border-bottom: 0.6em solid transparent;
            }

            label {
                margin-left: $spacing/2;
                font-weight: bold;
            }

            button {
                @include button($flat: true);
                padding: $spacing;
            }

            &.active {
                background-color: $accent;

                label, image {
                    color: $accent_fg;
                }
            }
        }
    }

    .qsvolume {

        // .volume-box {
        //     .volume {
        //         .slider {
        //             * { all:unset; }
        //         }
        //     }
        // }


        .volume-box {
            background-color: transparent;

            .slider:hover {
                slider {
                    background-color: transparent;
                    color: transparent;
                    box-shadow: none;
                    border: none;
                }
            }

            .slider:active {
                slider {
                    background-color: transparent;
                    color: transparent;
                    box-shadow: none;
                    border: none;
                }
            }

            .slider:disabled {
                highlight,
                progress {
                    background: rgba(145, 204, 255, 0.5);
                }
        
                // slider {
                //     background-color: #1e2022;
                // }
            }

            .slider {

                image {
                    color: #e2e2e5;
                    background-color: #0c0e10;
                    padding: 0;
                    border-radius: 100px;
                    min-height: 42px;
                    min-width: 42px;
                }

                margin: 0 8px;
            	// @include sliders;
                // border: 1px solid red;
                trough {
                    transition: 250ms;
                    border-radius: 100px;
                    background-color: #0c0e10;
                    min-height: 42px;
                    min-width: 42px;
            
                    highlight,
                    progress {
                        border-radius: 100px;
                        background-color: #91ccff;
                        min-height: 0.3em;
                        min-width: 42px;
                        border-radius: 100px;
                    }
            
                    // slider {
                    //     background-color: transparent;
                    //     border-radius: 100px;
                    //     min-height: 42px;
                    //     min-width: 42px;
                    // }

                    slider {
                        background-color: transparent;
                        color: transparent;
                        box-shadow: none;
                        border: none;
                    }

                    slider:active {
                        background-color: transparent;
                        color: transparent;
                        box-shadow: none;
                        border: none;
                    }

                    slider:checked {
                        background-color: transparent;
                        color: transparent;
                        box-shadow: none;
                        border: none;
                    }

                    slider:disabled {
                        background-color: transparent;
                        color: transparent;
                        box-shadow: none;
                        border: none;
                    }
                }


                // image {
                //     color: #e2e2e5;
                //     background-color: #0c0e10;
                //     padding: 0;
                //     border-radius: 100px;
                //     min-height: 42px;
                //     min-width: 42px;
                // }
            
                // scale {
                //     margin: 0 8px;
                //     // @include slider($width: 0.3em, $slider_width: 0.5em);
                // }

            }
        }
    }
}

.bluetooth {
    font-weight: bold;
}

.btdevice {
    padding-left: 0.5rem;
}


