window#quicksettings .quicksettings {
    @include floating_widget;

    .header {
        > box:last-child {
            @include widget;
            padding: $spacing;
        }

        .avatar {
            @include widget;
            margin-right: $spacing;
            min-width: $spacing*7 + 38px;

            .shader {
                @include shader;
            }
        }

        .user {
            font-size: 1.2em;
            color: transparentize($fg_color, 0.2);
            margin: $spacing/2;
        }

        .battery-progress {
            progressbar {
                @include slider($width: $spacing*3.4);
                margin-top: $spacing;
            }

            label {
                margin-top: $spacing;
                color: $accent_fg;
                font-size: $spacing*2;
                font-weight: bold;
            }

            &.half label { color: $fg_color; }
        }

        .system {
            button, .uptime {
                @include button;
                padding: $spacing;
                margin-left: $spacing;
                font-weight: bold;
                &:first-child { margin-left: 0; }
            }
        }
    }

    .qsmediavolume .volume-box {
        .volume {
            .slider {
                @include slider;
                margin-right: $spacing;
            }
        }
    }

    .qsvolume .volume-box {
        border: none;
    }

    .volume-box {
        border: none;
        @include widget;
        margin-top: $spacing;

        .volume {
           .slider {
               * { all:unset; }
               margin-right: $spacing;
           }
        }

        scale {
            @include slider;
            margin-right: $spacing;
        }

        button {
            @include button($flat: true);
            padding: $spacing/2;
            margin: $spacing/2;
        }

        .menu {
            all: unset;
            border-top: 1px solid $widget_bg;
            padding: $spacing;

            .separator {
                min-height: 1px;
                margin: $spacing/2 0;
                background-color: $widget_bg;
            }

            button {
                @include button($flat: true);
                border-radius: $radii*.7;
                padding: $spacing/2;
                margin-top: $spacing / 2;
                &:first-child { margin-top: 0; }

                image {
                    margin-right: $spacing/2;
                }
            }
        }
    }

    .brightness {
        @include widget;
        margin-top: $spacing;
        padding-right: $spacing;

        scale {
            @include slider;
            margin: 0 $spacing;
            margin-left: 0;
        }

        button {
            @include button($flat: true);
            padding: $spacing/2;
            margin: $spacing/2;
        }
    }

    .toggles-box {
        margin-top: $spacing;

        .small-toggles {
            @include widget;
            padding: $spacing/2;

            .toggle {
                @include button;
                margin: $spacing/2;
                padding: $spacing;
            }
        }

        .arrow-toggles {
            @include widget;
            padding: $spacing/2;
            margin-right: $spacing;

            .toggle.arrow {
                @include button;
                margin: $spacing/2;

                label {
                    margin-left: $spacing/2;
                    font-weight: bold;
                }

                button {
                    @include button($flat: true);
                    padding: $spacing;

                    &:first-child {
                        border-top-right-radius: 0;
                        border-bottom-right-radius: 0;
                    }

                    &:last-child {
                        border-top-left-radius: 0;
                        border-bottom-left-radius: 0;
                    }
                }

                &.active {
                    background-color: $accent;

                    label, image {
                        color: $accent_fg;
                    }
                }
            }
        }
    }

    .submenu {
        @include widget;
        margin-top: $spacing;

        .title {
            > *:first-child {
                margin: $spacing;
            }

            label {
                font-weight: bold;
                font-size: 1.2em;
            }
        }

        .content {
            border-top: 1px solid $widget_bg;
            padding: $spacing;
        }

        &.app-mixer .content {
            scale {
                @include slider;
            }

            > box {
                padding: $spacing;
            }

            label:last-child {
                min-width: 3em;
            }

            image {
                margin-right: $spacing;
            }
        }

        &.network .content, &.theme, .content {
            button {
                @include button($flat: true);
                border-radius: $radii*0.8;
                padding: $spacing/2;
                margin-top: $spacing / 2;
                &:first-child { margin-top: 0; }
            }

            image {
                margin-right: $spacing/2;
            }
        }

        &.bluetooth .content {
            > box {
                padding: $spacing/2;
            }

            switch {
                @include switch;
            }
        }
    }

    .media {
        .mediabox{
            @include widget;
            @include media;
            margin-top: $spacing;

            .cover-art-bg {
                border-radius: max($radii - $border_width, 0);
            }

            .shader {
                border-radius: max($radii - $border_width, 0);
            }
        }
    }

    .qstoggles {
        min-width: 25em;

        .noarrow button {
            min-height: 3.7em;
            min-width: 12.5em;
        }

        .toggle.arrow.bluetooth{
            min-height: 3.7em;
            min-width: 12.5em;
        }

        .toggle {
            @include button;
            margin: $spacing/2;
            border-radius: 24px;

            label {
                margin-left: $spacing;
                font-weight: bold;
            }

            button {
                @include button($flat: true);
                padding: $spacing;

            }

            &.active {
                background-color: $accent;

                label, image {
                    color: $accent_fg;
                }
            }
        }
    }

    .qsvolume {
        .volume-box {
            background: transparent;

            .volume button {
                background: $widget_bg;
                border-radius: 50%;
                min-width: 1.5em;
                min-height: 1.5em;
            }

            .volume label {
                border: none;
                font-size: 0;
                margin: 0;
                padding: 0;
            }

            .volume-icon {
                -gtk-icon-transform: scale(0.8);
            }

            .slider {
                margin: 0 0.3em;
                padding: 0;

                slider {
                    min-height: 2em;
                }

                trough {
                    transition: 250ms;
                    border-radius: 100px;
                    background-color: $widget_bg;

                    highlight,
                    progress {
                        @include button_active;
                        border-radius: 100px;
                        min-width: 38px;
                    }
                }
            }
        }
    }

    .bluetoothSelection {
        .submenu {
            background: transparent;
            border: none;
        }
    }
}

.bluetooth {
    font-weight: bold;
}

.btdevice {
    padding-left: 0.5rem;
}


