$buttonMinHeight: 3.5em;
$buttonMinWidth: 12em;
// min height of the volume slider
$sliderVolumeMinHeight: 2em;
// min width of the volume (to not become invisible)
$sliderTroughMinWidth: 2em;

window#quicksettings .quicksettings {
    @include floating_widget;

    // .row {
    //     margin: 0 0 $spacing 0;
    // }

    .header {
        .avatar {
            @include widget;
            margin-right: $spacing;
            min-width: $spacing*7 + 38px;

            .shader {
                @include shader;
            }
        }

        .battery-progress {
            progressbar {
                @include slider($width: $spacing*3.4);
                margin-top: $spacing;
                min-height: 20px;
            }

            label {
                margin-top: $spacing;
                color: $accent_fg;
                font-size: $spacing*2;
                font-weight: bold;
            }

            &.half label { color: $fg_color; }
        }

        .system-box {
            @include widget;
            padding: $spacing;

            button, .uptime {
                @include button;
                padding: $spacing;
                font-weight: bold;
                margin-left: $spacing;
                &:first-child { margin-left: 0; }
                min-height: 20px;
                min-width: 20px;

                image {
                    font-size: 1.2em;
                }
            }
        }
    }

    .slider-box {
        @include widget;
        padding: $spacing;

        > box:last-child { margin-bottom: 0; }

        .slider > * {
            margin-left: $spacing;
            &:first-child { margin-left: 0; }
        }

        button, .icon {
            @include button($flat: true);
            padding: $spacing/2;
        }

        scale {
            @include slider;
        }

        .menu {
            background-color: $bg_color;
            border: $border_width solid $popover_border_color;
            border-radius: $radii;
        }
    }

    .mixer-item {
        margin: 0 $spacing;
        scale { @include slider($width: 7px); }
        > box { padding: $spacing; }
        label:last-child { min-width: 3em; }
        image { font-size: 20px; }
    }

    .menu {
        @include widget;
        margin-top: $spacing;
        padding: $spacing;

        separator {
            background-color: $border_color;
            margin: $spacing $spacing/2;
        }

        label { margin-left: $spacing; }

        button {
            @include button($flat: true);
            padding: $spacing/2;
        }
    }
        
    .button-spacing{
        margin-right: $spacing;
    }

    .simple-toggle {
        @include button;

        // text spacing
        label {
            margin-left: $spacing/2;
            font-weight: bold;
        }

        // icon spacing
        box {
            margin-left: $spacing;
        }
    }

    .toggle-button {
        @include button;
        font-weight: bold;

        min-height: $buttonMinHeight;
        min-width: $buttonMinWidth;
        border-radius: $radii * 1.5;
        margin-bottom: $spacing;

        label {
            margin-left: $spacing/2;
        }

        button {
            @include button($flat: true);
            padding: $spacing;

            &:first-child {
                border-radius: $radii * 1.5;
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
            }

            &:last-child {
                border-radius: $radii * 1.5;
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
            }
        }

        &.active {
            background-color: $accent;

            label, image {
                color: $accent_fg;
            }
        }

        //button border radius
        &:focus,
        &:hover{
            border-radius: $radii * 1.5;
        }

        &:active, &.on, &.active, &:checked {
            border-radius: $radii * 1.5;

            &:hover {
                border-radius: $radii * 1.5;
            }
        }
    }

    .media .player {
        @include media;
        margin-bottom: $spacing;
        &:last-child { margin-bottom: 0; }
    }

    .qsvolume {
        // separate from buttons
        margin-top: $spacing / 2;

        button, .icon {
            @include button($flat: false);
            padding: $spacing;
        }

        .volumeslider {
            margin: 0 0.5em;
            padding: 0;

            slider {
                all: unset;
            }

            trough{
                min-height: $sliderVolumeMinHeight;
                border-radius: $radii;
                background-color: $widget_bg;

                highlight,
                progress {
                    border-radius: $radii;
                    min-width: $sliderTroughMinWidth;
                    background: $active_gradient;
                }

                // different shade when hover/focus - same as in common file - &:hover
                highlight:hover,
                highlight:focus {
                    box-shadow: inset 0 0 0 $border_width $border_color,
                            inset 0 0 0 99px $hover;
                }
            }
        }
    }
}
//todo add missing from old one