$buttonMinHeight: 3.5em;
$buttonMinWidth: 12em;
// min height of the volume slider
$sliderVolumeMinHeight: 2em;
// min width of the volume (to not become invisible)
$sliderTroughMinWidth: 2em;

window#quicksettings .quicksettings {
    @include floating_widget;

    // disabled this spacing, as I've created one in buttons, also one is on volume
    //.row {
    //    margin-top: $spacing;
    //    &:first-child { margin-top: 0; }
    //}

    .header {
        .avatar {
            @include widget;
            margin-right: $spacing;
            min-width: $spacing*7 + 38px;

            .shader {
                @include shader;
            }
        }

        .battery-progress {
            label {
                margin-top: $spacing;
                color: $accent_fg;
                font-size: $spacing*2;
                font-weight: bold;
            }

            &.half label { color: $fg_color; }

            progressbar {
                @include slider($width: $spacing*3.4);
                margin-top: $spacing;
                min-height: 20px;
            }

            &.low progressbar {
                @include slider($width: $spacing*3.4, $gradient: linear-gradient(to right, $red, $red));
                margin-top: $spacing;
                min-height: 20px;
            }
        }

        .system-box {
            @include widget;
            padding: $spacing;

            button, .uptime {
                @include button;
                padding: $spacing;
                font-weight: bold;
                margin-left: $spacing;
                &:first-child { margin-left: 0; }
                min-height: 20px;
                min-width: 20px;
                
                image {
                    font-size: 1.2em;
                }
            }
        }
    }

    .slider-box {
        @include widget;
        padding: $spacing;

        > box { margin: 0; }

        .slider > * {
            margin-left: $spacing;
            &:first-child { margin-left: 0; }
        }

        button, .icon {
            @include button($flat: true);
            padding: $spacing/2;
        }

        scale {
            @include slider;

            &:last-child {
                margin-right: $spacing/2;
            }
        }

        .menu {
            background-color: $bg_color;
            border: $border_width solid $popover_border_color;
            border-radius: $radii;
        }
    }

    .mixer-item {
        margin: 0 $spacing;
        scale { @include slider($width: 7px); }
        > box { padding: $spacing; }
        label:last-child { min-width: 3em; }
        image { font-size: 20px; }
    }

    .menu {
        @include widget;
        margin: $spacing 0;
        padding: $spacing;

        separator { 
            background-color: $border_color;
            margin: $spacing $spacing/2;
        }

        label { margin-left: $spacing; }

        button {
            @include button($flat: true);
            padding: $spacing/2;
        }

        switch {
            @include switch;
        }

        slider {
            margin: 0;
        }
    }

    .button-spacing{
        margin-right: $spacing;
    }

    .simple-toggle {
        @include button;

        // text spacing
        label {
            margin-left: $spacing/2;
            font-weight: bold;
        }

        // icon spacing
        box {
            margin-left: $spacing;
        }
    }

    // button shadow on focus by keyboard - tab
    .toggle-button.simple-toggle:focus {
        box-shadow: inset 0 0 0 $border_width $border_color,
            inset 0 0 0 99px $hover;
    }

    .toggle-button {
        @include button;
        font-weight: bold;

        min-height: $buttonMinHeight;
        min-width: $buttonMinWidth;
        border-radius: $radii * 1.5;
        margin-bottom: $spacing;

        label {
            margin-left: $spacing/2;
        }

        button {
            @include button($flat: true);
            padding: $spacing;

            &:first-child {
                border-radius: $radii * 1.5;
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
            }

            &:last-child {
                border-radius: $radii * 1.5;
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
            }
        }

        &.active {
            background-color: $accent;

            label, image {
                color: $accent_fg;
            }
        }

        //button border radius
        &:focus,
        &:hover{
            border-radius: $radii * 1.5;
        }

        &:active, &.on, &.active, &:checked {
            border-radius: $radii * 1.5;

            &:hover {
                border-radius: $radii * 1.5;
            }
        }
    }

    .media .player {
        @include media;
        margin-top: $spacing;
    }

    .qsvolume {
        // separate from buttons
        margin: $spacing / 2 0;

        .menu {
            margin-top: $spacing;
            margin-bottom: 0;

            .sinkitem {
                margin: $spacing 0;

                &:first-child {
                    margin: 0;
                }
                &:last-child {
                    margin: 0;
                }
            }
        }

        button, .icon {
            @include button($flat: false);
            padding: $spacing;
        }

        .volumeslider {
            margin: 0 0.5em;
            padding: 0;

            slider {
                all: unset;
            }

            trough{
                min-height: $sliderVolumeMinHeight;
                border-radius: $radii;
                background-color: $widget_bg;

                highlight,
                progress {
                    border-radius: $radii;
                    min-width: $sliderTroughMinWidth;
                    background: $active_gradient;
                }

                // different shade when hover/focus - same as in common file - &:hover
                highlight:hover,
                highlight:focus {
                    box-shadow: inset 0 0 0 $border_width $border_color,
                            inset 0 0 0 99px $hover;
                }
            }
        }
    }

    .bluetooth-devices {
        margin-bottom: 0.8em;
    }

    .bluetooth-devices:last-child {
        margin-bottom: 0;
    }

    .app-mixer,
    .sink-selector {
        .sinkitem box {
            margin: 0 $spacing;
        }

        button {
            background-color: transparentize($color: $bg_color, $amount: 0.4);
            padding: $spacing / 1.3;
        }

        .arrow-button {
            box {
                margin: 0 $spacing;
            }

            button:last-child {
                margin-left: $spacing;
                padding: $spacing;
            }
        }
    }
}
